html,
body {
  position: relative;
  width: 100%;
  height: 100vh;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}


.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
	color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.callout {
    display: table;
    width: 100%;
    height: 400px;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.maps {
    display: table;
    width: 100%;
    height: 400px;
    background: url(../img/maps.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.target {
    display: table;
    width: 100%;
    height: 400px;
    background: url(../img/target.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.textbox {
	position: relative;
	top: 20px;
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.portfolio-item {
    margin-bottom: 30px;
}
.map-item {
    margin-bottom: 60px;
}
footer {
    padding: 100px 0;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}